SPRING_DATASOURCE_URL=jdbc:postgresql://HOST/BASE_DE_DATOS?sslmode=require
SPRING_DATASOURCE_USERNAME=USUARIO_NEON
SPRING_DATASOURCE_PASSWORD=CONTRASENA_NEON
SPRING_DATA_MONGODB_URI=mongodb+srv://USUARIO:CONTRASENA@CLUSTER.mongodb.net/pixben?retryWrites=true&w=majority
CLOUDINARY_CLOUD_NAME=TU_CLOUD_NAME
CLOUDINARY_API_KEY=TU_API_KEY
CLOUDINARY_API_SECRET=TU_API_SECRET
VAPID_PUBLIC_KEY=TU_CLAVE_PUBLICA_VAPID
VAPID_PRIVATE_KEY=TU_CLAVE_PRIVADA_VAPID
VAPID_SUBJECT=https://pixben.netlify.app
